/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

* {
	margin: 0px;
	padding: 0px;
}
body {
	font-family: 'Lato', sans-serif;
	
}
#header {
	text-align: center;
	font-family: 'Raleway', sans-serif;
	color:#FFF;
	
}

#main-frame
{
	
	width:100%;
	display:block;
	margin:0px;
	padding:0px;
	padding-top:3px;
	padding-bottom:3px;
}

#course-name
{
width:auto;
padding:5px;
background-color:rgba(0,0,0,0.2);
border:thin solid rgba(255,255,255,0.6);
font-family:"Raleway",sans-serif;
font-size:24px;	
box-shadow:0px 0px 2px rgba(0,0,0,0.5);
}

.course
{
width:auto;
padding:5px;
display:inline-table;
background-color:rgba(0,0,0,0.2);
border:thin solid rgba(255,255,255,0.6);
font-family:"Raleway",sans-serif;
font-size:24px;	
box-shadow:0px 0px 2px rgba(0,0,0,0.5);
cursor:pointer;
}
#body-content h1
{
	font-family: 'Raleway', sans-serif;
	font-weight:lighter;
		color:	rgba(0,0,0,0.7);
	text-shadow:0px 0px 1px #000;
}

 #body-content h2
{
	font-family: 'Raleway', sans-serif;
	font-weight:lighter;
	color:	rgba(0,0,0,0.7);
	text-shadow:0px 0px 1px #000;
}
#header h1
{
	font-family: 'Raleway', sans-serif;
	font-weight:200;
}
#header-container {
	background-color: rgba(10,10,10,0.75);
	box-shadow:1px 1px 5px rgba(0,0,0,0.6);
	z-index:3;
}
#header div h1 {
	padding:3px;
}
#body-head {
	text-align: center;

}


#body-content {
	text-align: center;
	min-height: 300px;
	height:auto;
	margin-bottom:35px;
	background-color:rgba(0,0,0,0.2);
	box-shadow:inset 0px 0px 2px rgba(0,0,0,0.2);
	z-index:3;
}

#footer {
	position: fixed;
	width: 100%;
	bottom: 0px;
	z-index:3;
}
#footer div #tab {
	background-color: rgba(0,0,0,0.3);
	padding: 3px;
	box-shadow:1px 1px 2px rgba(0,0,0,0.5);
	cursor:pointer;
	
}
.level-marker {
	display: inline-table;
	height: 44px;
	width: 44px;
	background-image: url(../img/level.png);
	opacity:0.7;
	padding:3px;
	cursor:pointer;
}

.level-marker:hover{
	opacity:1;
}
#effect-box {
	height: 0px;
	background-color: rgba(0,0,0,0.3);
	padding: 3px;
	box-shadow:1px 1px 3px rgba(0,0,0,0.5);	
}

#weather-effects
{
	width:100%;
	height:100%;
	position:fixed;
	z-index:-1;
	
	
}
#background-effects
{
	width:100%;
	height:100%;
	position:fixed;
	z-index:-2;
	
	
}

#loading
{
font-size:36px;
font-family: 'Raleway', sans-serif;
text-shadow:1px 1px 30px #000;
position:absolute;
top:40%;

text-align:center;
padding:0px;
margin:0px


color:#000;
}
/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {
body {
}
}
